@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*
    colors
    Rich Black: #0D1321 
    Linen: #FFEDDF tannish
    June Bud: #C5D86D greenish
    Deep Taupe: #86615C
*/

/*
  next:
  add content to about
  finish contact page
  style pages more thoroughly
  new picture!! maybe style image better with new hi res photo
  fix icon fade-ins
  deploy!! then fix mobile
*/

$rich-black: #0D1321;
$linen: #FFEDDF;
$june-bud: #C5D86D;
$deep-taupe: #86615C;
$pale-spring-bud: #E2E3A6;

*{
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box !important;
  font-family: Montserrat; /*maybe*/

}

.home{
    background-color: $rich-black !important;
    background-image: url(/images/swirlyGuy.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right;
}

.about{
    background-color: $june-bud !important;
    background-image: url(/images/city-2.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    color: $rich-black !important;
}

.projects{
    background-color: $deep-taupe !important;
    background-image: url(/images/project-2.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    color: $rich-black !important;
    display: grid;
}

.card-body h5{
    font-weight: bold;
}

.project-card{
    background-color: #0D1321 !important;
    color: #FFEDDF !important;
}

.project-link{
    text-decoration: none;
}

.project-link:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    // bottom: 0;
    left: 0;
    background-color: #C5D86D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.project-link:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.portfolio-repo{
  color: #FFEDDF !important;
  text-decoration: none;
  font-weight: bold;
}

.portfolio-repo:hover{
    text-decoration: underline;
}

.disclaimer{
    color: #FFEDDF !important;
}

.contact{
    background-color: $linen !important;
    background-image: url(/images/contact-1.svg);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: right;
    color: $rich-black !important;
}

.home,
.about,
.projects,
.contact{
  height: 90vh;
  position: absolute;
  width: 100%;
}


.home-content,
.about-content,
.projects-content,
.contact-content{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.personal-about,
.tech-about{
    background-color: rgba($linen, .6);
    color: $rich-black;
}

.lang-icon{
    color: $rich-black !important;
}

.contact-banner{
    font-weight: bold !important;
}

.contact-blurb{
    color: #86615C !important;
}

.nav-list{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  list-style: none;
  background-color: $rich-black;
}

.nav-links{
  text-decoration: none;
  font-size: 18px;
  transition: all 0.5s;
}

.nav-links:hover{
  background-color: #C5D86D !important;
  color: #0D1321 !important;
  transition: all 0.5s;
  padding-top: 100% !important;
  padding-bottom: 50% !important;
  padding-left: 30% !important;
  padding-right: 30% !important;
}

a{
    color: $june-bud !important;
}

.name-and-location{
    color: $june-bud !important;
}

.my-blurb{
    color: $linen !important;
    
}

.sg-link{
    color: #0D1321 !important;
}

footer{
    bottom:0;
    height: 75px;   /* Height of the footer */
 }

 input{
   background: transparent !important;
   border: none;
   border-bottom: #0D1321 solid thin;
   padding: 10px !important;
   margin: 10px !important;
   font-weight: bold !important;
 }

 label{
   font-weight: bold;
 }

 .form-group{
   background-color: #C5D86D !important;
 }

