/*
    colors
    Rich Black: #0D1321 
    Linen: #FFEDDF tannish
    June Bud: #C5D86D greenish
    Deep Taupe: #86615C
*/

body{
    background-color: #0D1321 !important;
    background-image: url(/images/lineyGuy.svg);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
    color: #C5D86D !important;
}

img{
    border-radius: 50%;
    border: solid #86615C;
}

.my-name{
    
}

/*
.index-text-content{
    background-color: #86615C;
    opacity: 50%;
}
*/
.navbar{
    border-bottom: solid #86615C;
    margin-bottom: 10vh;
}

.navbar ul{
    padding-left: 80%;
}

.navbar li{
    display: inline;
}

a{
    color: #C5D86D !important;
}

p{
    color: #FFEDDF;
}

footer{
    position:absolute;
    bottom:0;
    height:50px;   /* Height of the footer */
 }

 /*fade in*/
 .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }